<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rot">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".staffRequest"></activity>
        <activity android:name=".AboutUs" />
        <activity android:name=".CurrentOrders" />
        <activity android:name=".History" />
        <activity android:name=".DeleteOrder" />
        <activity android:name=".Cost" />
        <activity android:name=".RatingScreen" />
        <activity android:name=".ActiveOrders" />
        <activity android:name=".StaffDoneScreen" />
        <activity android:name=".Opt_View" />
        <activity android:name=".Customer_Screen" />
        <activity android:name=".Access_type" />
        <activity android:name=".Staff_ID_request" />
        <activity android:name=".Staff_order_screen" />
        <activity android:name=".Registration_password" />
        <activity android:name=".Registration" />
        <activity android:name=".Sign_in" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>